@model MusicPlatform.Models.SongModels.SongDetailsViewModel;
@using MusicPlatform.CommonUtils.Helpers;


<div class="container mt-3">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">

                <h5> @Model.Song.Name</h5>
              
            
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Artist:</b> @Model.Artist.Name</p>
                <p><b>Listens:</b> @Model.Artist.Listeners</p>
                @if (Html.IsAuthenticated())
                {
                    <div class="main-div">
                        <div class="button-div">
                            <button id="favorite-button" data-user="@Html.GetUserId()" data-song="@Model.Song.Id" class="fav-button">
                                <i class="fa fa-star"></i>
                                <span>Favorites</span>
                            </button>
                        </div>
                    </div>
                }

            </div><!-- / project-info-box -->

        </div><!-- / column -->

        <div class="col-md-7">

            <div class="project-info-box">
                <p>Lyrics:</p>
                <p>@Html.Raw(Model.Song.Lyrics)</p>
                @if (Html.IsAuthenticated())
                {
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Comment:</label>
                            <textarea class="form-control" id="commentText" rows="3"></textarea>
                            <button onclick="addComment('@Html.GetUserId()', '@Model.Song.Id')" type="button" class="btn mt-2 btn-success">Submit</button>
                        </div>
                    </form>
                    <br />
                    <hr />
                    @if (Model.Comments.Count > 0)
                    {

                        <p>Comments:</p>
                        <div class="comment-section">

                         </div>
                    }
                }


            </div>
        </div>
       
 
    
    </div>
</div>
<script>
    window.addEventListener('load', function(){
        checkFavorites('@Model.Song.Id', '@Html.GetUserId()');
        getComments('@Model.Song.Id');
    });
</script>